{% load static %}

<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
 
    <title>Shop-Dashboard</title>


    

    

<link href="{% static 'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static 'dashboard.css' %}" rel="stylesheet">
  </head>
  <body>


   


    
<header class="print_not_show navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="{% url 'shop_dashboard' %}">{{ showroom.showroom_name }}</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" onclick="return signout();" href="{% url 'dashboard_logout' %}">Sign out</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="print_not_show col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item active">
            <a class="nav-link {% if request.resolver_match.view_name == 'shop_dashboard' %} active{% endif %} "  aria-current="page" href="{% url 'shop_dashboard' %}">
              <span data-feather="home" class="align-text-bottom"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link {% if request.resolver_match.view_name == 'google_analytics' %} active{% endif %} "  aria-current="page" href="{% url 'google_analytics' %}">
              <span data-feather="home" class="align-text-bottom"></span>
              Analytics
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link {% if request.resolver_match.view_name == 'node_info' %} active{% endif %} "  aria-current="page" href="{% url 'node_info' %}">
              <span data-feather="home" class="align-text-bottom"></span>
              Node Info
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.view_name == 'all_orders' %} active{% endif %}" href="{% url 'all_orders' %}">
              <span data-feather="file" class="align-text-bottom"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.view_name == 'transaction_details' %} active{% endif %}" href="{% url 'transaction_details' %}">
              <span data-feather="file" class="align-text-bottom"></span>
              Transactions Detail
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.view_name == 'all_products' %} active{% endif %}" aria-current="page" href="{% url 'all_products' %}">
              <span data-feather="shopping-cart" class="align-text-bottom"></span>
              All Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.view_name == 'add_product' %} active{% endif %}" href="{% url 'add_product' %}">
              <span data-feather="shopping-cart" class="align-text-bottom"></span>
             Add Products
            </a>
          </li>
          
         
 
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.view_name == 'all_companies' %} active{% endif %}" href="{% url 'all_companies' %}">
              <span data-feather="bar-chart-2" class="align-text-bottom"></span>
              Add Company
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.view_name == 'all_categories' %} active{% endif %}" href="{% url 'all_categories' %}">
              <span data-feather="bar-chart-2" class="align-text-bottom"></span>
              Add Category
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.view_name == 'settings' %} active{% endif %}" href="{% url 'settings' %}">
              <span data-feather="bar-chart-2" class="align-text-bottom"></span>
              Shop Configration
            </a>
          </li>
          <li class="nav-item">
            <a target="_blank" class="nav-link {% if request.resolver_match.view_name == '360_and_shop' %} active{% endif %}" href="{% url '360_and_shop' showroom.id %}">
              <span data-feather="bar-chart-2" class="align-text-bottom"></span>
              My Shop
            </a>
          </li>

        </ul>

        
      </div>
    </nav>

    <main class=" col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="print_not_show d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class=" h2"><a class="text-decoration-none" href="{% url 'shop_dashboard' %}">Dashboard</a></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <a href ="{% url 'add_product' %}" class="btn btn-sm btn-outline-warning">Add Product</a>
            <a href="{% url 'all_orders' %}" class="btn btn-sm btn-warning">Go to Orders</a>
          </div>
        </div>
      </div>
      {% block content %}
      
      
      {% endblock content %}

    </main>

  </div>
  </div>
</div>

  <script>
    function signout() {
      return confirm("Are you sure you want to signout this page?");
    }

  </script>

 {% comment %} loader {% endcomment %}
   
 <script>
  document.addEventListener("DOMContentLoaded", function() {
      var loader = document.getElementById('loader');
      var isLoaderVisible = false;

      // Show the loader
      function showLoader() {
          loader.style.display = 'flex';
          isLoaderVisible = true;
      }

      // Hide the loader
      function hideLoader() {
          loader.style.display = 'none';
          isLoaderVisible = false;
      }

      // Attach event listeners to all links
      var links = document.querySelectorAll('a');
      links.forEach(function(link) {
          link.addEventListener('click', function() {
              showLoader();
              setTimeout(function() {
                  hideLoader();
              }, 100); // Adjust the timeout value as needed
          });
      });

      // Attach event listener to window load
      window.addEventListener('load', function() {
          hideLoader();
      });

      // Attach event listener to hash change
      window.addEventListener('hashchange', function() {
          if (!isLoaderVisible) {
              hideLoader();
          }
      });

      // Attach event listener to form submission
      var forms = document.querySelectorAll('form');
      forms.forEach(function(form) {
          form.addEventListener('submit', function() {
              showLoader();
          });
      });
  });
</script>
{% comment %} loader {% endcomment %}

  <script src="{% static 'js/htmx.js' %}"></script>

    <script src="{% static 'assets/dist/js/bootstrap.bundle.min.js' %}"></script>

      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG" crossorigin="anonymous"></script>
      <script src="{% static 'dashboard.js' %}"></script>
  </body>
  {% include 'messages.html' %}

{% block scripts %}

{% endblock scripts %}

</html>
