{% extends 'shop/dashboard/shop_dashboard_base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
<!-- add_product.html -->

{% block content %}
  <div class="myForm">
    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
         <div class="col-sm-7">
                <div class="form-row">
                  <div class="form-group">
                    {{ form.title|as_crispy_field }}
                    {{ form.company_name|as_crispy_field }}
                  </div>
                  <div class="form-group">
                    {{ form.category|as_crispy_field }}
                    {{ form.product_number|as_crispy_field }}
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group">
                    {{ form.imported_or_local|as_crispy_field }}
                  </div>
                  <div class="form-group">
                    {{ form.unit_or_sqm|as_crispy_field }}
                  </div>
                  <div class="form-group ">
                    {{ form.old_price|as_crispy_field }}
                  </div>
                  <div class="form-group ">
                    {{ form.new_price|as_crispy_field }}
                  </div>
                  <div class="form-group ">
                    {{ form.discount_price|as_crispy_field }}
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group">
                    {{ form.description|as_crispy_field }}
                  </div>
                  <div class="form-group ">
                    {{ form.image|as_crispy_field }}
                  </div>
                
             
                </div>
                


         </div>
         <div class="col-sm-5 ">
            <button type="submit" class="w-100 btn btn-primary mb-2">Save</button>
            <button type="reset" class="w-100 btn btn-warning">Reset</button>

         </div>

        </div>
    </form>
</div><!-- End myform -->
{% endblock content%}

{% block scripts %}

<script>
  const oldPriceInput = document.getElementById("id_old_price");
  const newPriceInput = document.getElementById("id_new_price");
  const discountPercentageInput = document.getElementById("id_discount_price");

  function calculateDiscountPercentage() {
    const oldPrice = parseFloat(oldPriceInput.value);
    const newPrice = parseFloat(newPriceInput.value);

    if (!isNaN(oldPrice) && !isNaN(newPrice) && oldPrice > 0) {
      const discountPercentage = ((oldPrice - newPrice) / oldPrice) * 100;
      discountPercentageInput.value = discountPercentage.toFixed(0) + "% Off";
    } else {
      discountPercentageInput.value = "";
    }
  }

  oldPriceInput.addEventListener("input", calculateDiscountPercentage);
  newPriceInput.addEventListener("input", calculateDiscountPercentage);
</script>

{% endblock scripts %}