{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    {% block title %}{% endblock title %}
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'shop/assets/images/favicon.png' %}" />

    <!-- CSS
    ============================================ -->

    {% block head %}{% endblock head %}
    <script src="{% static 'js/htmx.js' %}"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'shop/assets/css/vendor/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'shop/assets/css/vendor/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'shop/assets/css/vendor/flaticon/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'shop/assets/css/vendor/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'shop/assets/css/vendor/slick-theme.css' %}" />
    <link rel="stylesheet" href="{% static 'shop/assets/css/vendor/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'shop/assets/css/vendor/sal.css' %}" />
    <link rel="stylesheet" href="{% static 'shop/assets/css/vendor/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'shop/assets/css/vendor/base.css' %}" />
    <link rel="stylesheet" href="{% static 'shop/assets/css/style.min.css' %}" />
</head>

<body class="sticky-header">
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
    <a href="#top" class="back-to-top" id="backto-top"><i class="fal fa-arrow-up"></i></a>
    <!-- Start Header -->
    <header class="header axil-header header-style-5">
        <!-- Start Mainmenu Area  -->
        <div id="axil-sticky-placeholder"></div>
        <div class="axil-mainmenu">
            <div class="container">
                <div class="header-navbar">
                    <div class="header-brand">
                
                        <a href="{% url 'home' %}" class="logo logo-dark"><span class="fw-bold text-danger">All <span class="text-primary">In</span> One</span></a>
                     
                    </div>
                    <div class="header-main-nav">
                        <!-- Start Mainmanu Nav -->
                        <nav class="mainmenu-nav">
                            <button class="mobile-close-btn mobile-nav-toggler">
                                <i class="fas fa-times"></i>
                            </button>
                            <div class="mobile-nav-brand">
                                <a href="#" class="logo">
                                    <img src="{% static '' %}" alt="Site Logo" />
                                </a>
                            </div>
                            <ul class="mainmenu">
                                <li>
                                    <a href="{% url 'shop' showroom.showroom_type showroom.id %}" >
                                        <span class=" text-danger">{{showroom.showroom_name}}</span>
                                        <img src="{{settings.shop_logo.url}}" alt="configure logo 32*32" height="34px" width="34px">
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- End Mainmanu Nav -->
                    </div>
                    <div class="header-action">
                        <ul class="action-list">
                            <li class="axil-search d-xl-block d-none">
                                <input type="search" class="placeholder product-search-input" name="search2"
                                    id="search2" value="" maxlength="128" placeholder="What are you looking for?"
                                    autocomplete="off" />
                                <button type="submit" class="icon wooc-btn-search">
                                    <i class="flaticon-magnifying-glass"></i>
                                </button>
                            </li>
                            <li class="axil-search d-xl-none d-block">
                                <a href="javascript:void(0)" class="header-search-icon" title="Search">
                                    <i class="flaticon-magnifying-glass"></i>
                                </a>
                            </li>
                            <li class="shopping-cart">
                                <a href="{% url 'shop_cart' showroom.id %}" class="cart-dropdown-btn">
                                    <span id="cart-count" class="cart-count">{{cart_item_count}}</span>
                                    <i class="flaticon-shopping-cart"></i>
                                </a>
                            </li>
                            <li class="shopping-cart">
                                <a onclick="return confirmLogout();" href="{% url 'user_logout' showroom.id %}" >
                                    <img  width="35px" src="{% static 'shop/assets/images/shutdown.png' %}"
                                    alt="Play Store" />

                                </a>
                            </li>

                            <li class="axil-mobile-toggle">
                                <button class="menu-btn mobile-nav-toggler">
                                    <i class="flaticon-menu-2"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Mainmenu Area -->
    </header>
    <!-- End Header -->
    <hr />
   {% block content %}
   
   
   
   
   {% endblock content %}


    <!-- Start Footer Area  -->
    <footer class="axil-footer-area footer-style-2">
        <!-- Start Footer Top Area  -->
        <div class="footer-top separator-top">
            <div class="container">
                <div class="row">
                    <!-- Start Single Widget  -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="axil-footer-widget">
                            <h5 class="widget-title">Support</h5>
                            <!-- <div class="logo mb--30">
                            <a href="index.html">
                                <img class="light-logo" src="assets/images/logo/logo.png" alt="Logo Images">
                            </a>
                        </div> -->
                            <div class="inner">
                                <p>
                                    {{ settings.address }} 
                                </p>
                                <ul class="support-list-item">
                                    <li>
                                        <a href="mailto:{{settings.email}}"><i class="fal fa-envelope-open"></i>
                                            {{settings.email}}</a>
                                    </li>
                                    <li>
                                        <a href="tel:{{settings.phone}}"><i class="fal fa-phone-alt"></i> 
                                            {{settings.phone}}</a>
                                    </li>
                                    <!-- <li><i class="fal fa-map-marker-alt"></i> 685 Market Street,  <br> Las Vegas, LA 95820, <br> United States.</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Widget  -->

                    <!-- Start Single Widget  -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="axil-footer-widget">
                            <h5 class="widget-title">Download App</h5>
                            <div class="inner">
                                <div class="download-btn-group">
                             
                                    <div class="app-link">
                                        <a href="{{settings.android_app_link}}">
                                            <img src="{% static 'shop/assets/images/others/app-store.png' %}"
                                                alt="App Store" />
                                        </a>
                                        <a href="{{settings.ios_app_link}}">
                                            <img src="{% static 'shop/assets/images/others/play-store.png' %}"
                                                alt="Play Store" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Widget  -->
                </div>
            </div>
        </div>
        <!-- End Footer Top Area  -->
        <!-- Start Copyright Area  -->
        <div class="copyright-area copyright-default separator-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-4">
                        <div class="social-share">
                            <a href="{{settings.facebook}}"><i class="fab fa-facebook-f"></i></a>
                            <a href="{{settings.instagram}}"><i class="fab fa-instagram"></i></a>
                            <a href="{{settings.twitter}}"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-discord"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12">
                        <div class="copyright-left d-flex flex-wrap justify-content-center">
                            <ul class="quick-link">
                                <li>
                                    © 2023. All rights reserved by
                                    <a target="_blank" href="https://zamulk.com/">Zamulk</a>.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12">
                        <div
                            class="copyright-right d-flex flex-wrap justify-content-xl-end justify-content-center align-items-center">
                            <span class="card-text">Accept For</span>
                            <ul class="payment-icons-bottom quick-link">
                                <li>
                                    <img src="{% static 'shop/assets/images/icons/cart/cart-1.png' %}"
                                        alt="paypal cart" />
                                </li>
                                <li>
                                    <img src="{% static 'shop/assets/images/icons/cart/cart-2.png' %}"
                                        alt="paypal cart" />
                                </li>
                                <li>
                                    <img src="{% static 'shop/assets/images/icons/cart/cart-5.png' %}"
                                        alt="paypal cart" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Copyright Area  -->
    </footer>
    <!-- End Footer Area  -->

    <!-- Header Search Modal End -->
    <div class="header-search-modal" id="header-search-modal">
        <button class="card-close sidebar-close">
            <i class="fas fa-times"></i>
        </button>
        <div class="header-search-wrap">
            <div class="card-header">
                <form action="#">
                    <div class="input-group">
                        <input type="search" class="form-control" name="prod-search" id="prod-search"
                            placeholder="Write Something...." />
                        <button type="submit" class="axil-btn btn-bg-primary">
                            <i class="far fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
    <!-- Header Search Modal End -->

{% include "messages.html" %}
    
    <!-- JS
    

============================================ -->
    <!-- Modernizer JS -->
    <script src="{% static 'shop/assets/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'shop/assets/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/vendor/slick.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/vendor/js.cookie.js' %}"></script>
    <script src="{% static 'shop/assets/js/vendor/jquery-ui.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/vendor/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/vendor/sal.js' %}"></script>
    <script src="{% static 'shop/assets/js/vendor/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/vendor/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/vendor/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/vendor/counterup.js' %}"></script>
    <script src="{% static 'shop/assets/js/vendor/waypoints.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/main.js' %}"></script>
    
    
    <script>

        function confirmLogout(){
            return confirm("Are you sure you want to log out?");
        }
    </script>

{% block scripts %}


{% endblock scripts %}

</body>

</html>