{% extends 'shop/base.html' %}

{% load static %}

{% block title %}<title>All in One || Shop</title>{% endblock title %}

{% block head %}


{% endblock head %}

{% block content %}
<main class="main-wrapper">
    <!-- Start Shop Area  -->
    <div class="axil-shop-area axil-section-gap bg-color-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="axil-shop-top">
                        <form method="GET">
                            <div class="row">

                                <div class="col-lg-9">
                                    <div class="category-select">
                                        <!-- Start Single Select  -->
                                        <select name="category" class="single-select" onchange="this.form.submit()">
                                            <option value="all" {% if filter_category == "all" %}selected{% endif %} >All Categories</option>
                                            {% for i in categories %}
                                            <option value="{{i.name}}" {% if filter_category == i.name|stringformat:'s' %}selected{% endif %}>{{i.name}}</option>
                                            {% endfor %}
                                        </select>
                                        <!-- End Single Select  -->
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="category-select mt_md--10 mt_sm--10 justify-content-lg-end">
                                        <!-- Start Single Select  -->
                                        <select class="single-select" name="sort" onchange="this.form.submit()">
                                            <option value="all" {% if filter_sort == "all" %}selected{% endif %}>Sort by All</option>
                                            <option value="Imported" {% if filter_sort == "Imported" %}selected{% endif %}>Imported</option>
                                            <option value="Local" {% if filter_sort == "Local" %}selected{% endif %}>Local</option>
                                        </select>
                                        <!-- End Single Select  -->

                                    </div>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row row--15">
                {% for i in product %}
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="axil-product product-style-one has-color-pick mt--40">
                        <div class="thumbnail">
                            <a style="cursor: pointer" data-bs-toggle="modal"
                                data-bs-target="#quick-view-modal-{{forloop.counter}}">
                                <img src="{{i.image.url}}" style="height:230px; object-fit:contain;" alt="Product Images" />
                            </a>
                            <div class="label-block label-right">
                                <div class="product-badget">{{i.discount_price}}</div>
                            </div>
                            <div class="product-hover-action">
                                <ul class="cart-action">
                                    <li class="select-option">
                                        <a href="" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                            hx-post="{% url 'add_to_cart' i.pk showroom.id %}?next={{ request.path|urlencode }}"
                                            class="axil-btn btn-bg-primary add-to-cart-btn" data-product-id="{{ i.pk }}">Add to Cart</a>
                                    </li>
                                    {% comment %}{% url 'add_to_cart' i.pk %}?next={{
                                    request.path|urlencode }}{% endcomment %}
                                    <li class="quickview">
                                        <a style="cursor: pointer" data-bs-toggle="modal"
                                            data-bs-target="#quick-view-modal-{{forloop.counter}}"><i
                                                class="far fa-eye"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="inner">
                                <h5 class="title">{{i.title|upper}}</h5>
                                <div class="product-price-variant">
                                    <span class="price current-price">{{i.new_price}}</span>
                                    <span class="price old-price">{{i.old_price}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Product  -->

                <!-- Product Quick View Modal Start -->
                <div class="modal fade quick-view-product" id="quick-view-modal-{{forloop.counter}}" tabindex="-1"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="far fa-times"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="single-product-thumb">
                                    <div class="row">
                                        <div class="col-lg-7 mb--40">
                                            <div class="row">
                                                <div class="col-lg-10 order-lg-2">
                                                    <div
                                                        class="single-product-thumbnail axil-product thumbnail-badge zoom-gallery">
                                                        <div class="thumbnail">

                                                                    <img src="{{i.image.url}}"  alt="Product Image"/>
                                                            <div class="label-block label-right">
                                                                <div class="product-badget">
                                                                    {{i.discount_price}}
                                                                </div>
                                                            </div>
                                                            <div class="product-quick-view position-view">
                                                                    <a href="{{i.image.url}}" class="popup-zoom">
                                                                        <i class="far fa-search-plus"></i>
                                                                    </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 mb--40">
                                            <div class="single-product-content">
                                                <div class="inner">
                                                    <h3 class="product-title">{{i.title|upper}}</h3>
                                                    <span class="price-amount">Rs.{{i.new_price}}/{{i.unit_or_sqm}}</span>
                                                    <span class="text-decoration-line-through">{{i.old_price}}</span>
                                                    <ul class="product-meta">
                                                        <li>
                                                            <i class="fal fa-check"></i>Product Number:
                                                            {{i.product_number}}
                                                        </li>
                                                        <li>
                                                            <i class="fal fa-check"></i>Company:
                                                            {{i.company_name.name}}
                                                        </li>
                                                        <li>
                                                            <i class="fal fa-check"></i>Category:
                                                            {{i.category.name}}

                                                        </li>
                                                        <li>
                                                            <i class="fal fa-check"></i>{{i.imported_or_local}}
                                                        </li>
                                                        <li>
                                                            <i class="fal fa-check"></i>{{i.unit_or_sqm}}
                                                        </li>

                                                    </ul>
                                                    <ul>
                                                        <li>

                                                            <div class="accordion accordion-flush pb-3"
                                                                id="accordionFlushExample">
                                                                <div class="accordion-item">
                                                                    <h2 class="accordion-header">
                                                                        <button class=" accordion-button  collapsed"
                                                                            type="button" data-bs-toggle="collapse"
                                                                            data-bs-target="#flush-collapseOne"
                                                                            aria-expanded="false"
                                                                            aria-controls="flush-collapseOne">
                                                                            <p> Description </p>
                                                                        </button>
                                                                    </h2>
                                                                    <div id="flush-collapseOne"
                                                                        class="accordion-collapse collapse"
                                                                        data-bs-parent="#accordionFlushExample">
                                                                        <div class=" accordion-body">
                                                                            {{i.description|safe}}
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                {% for field in i.custom_fields %}
                                                                <div class="accordion-item">
                                                                    <h2 class="accordion-header">
                                                                        <button class=" accordion-button collapsed"
                                                                            type="button" data-bs-toggle="collapse"
                                                                            data-bs-target="#flush-collapseOne-{{forloop.counter}}"
                                                                            aria-expanded="false"
                                                                            aria-controls="flush-collapseOne-{{forloop.counter}}">
                                                                            {{field.title}}
                                                                        </button>
                                                                    </h2>
                                                                    <div id="flush-collapseOne-{{forloop.counter}}"
                                                                        class="accordion-collapse collapse"
                                                                        data-bs-parent="#accordionFlushExample-{{forloop.counter}}">
                                                                        <div
                                                                            class="p-3 accordion-body-{{forloop.counter}}">
                                                                            {{field.detail}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {% endfor %}
                                                        </li>
                                                    </ul>

                                                    <!-- Start Product Action Wrapper  -->
                                                    <div class="product-action-wrapper d-flex-center">
                                                        <!-- Start Quentity Action  -->
                                                        {% comment %}
                                                        <div class="pro-qty">
                                                            <input name="quantity" type="text" value="1" />
                                                        </div>
                                                        {% endcomment %}
                                                        <!-- End Quentity Action  -->

                                                        <!-- Start Product Action  -->
                                                        <ul class="product-action d-flex-center mb--0">
                                                            <li class="add-to-cart">
                                                                <a href=""
                                                                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                                                    hx-post="{% url 'add_to_cart' i.pk showroom.id %}?next={{ request.path|urlencode }}"
                                                                    class="axil-btn btn-bg-primary add-to-cart-btn" data-product-id="{{ i.pk }}">Add to Cart</a>
                                                                <span></span>
                                                            </li>

                                                        </ul>
                                                        <!-- End Product Action  -->
                                                    </div>
                                                    <!-- End Product Action Wrapper  -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Quick View Modal End -->

                {% endfor %}
            </div>
            <div class="text-center pt--30">
                <a href="#" class="axil-btn btn-bg-lighter btn-load-more">Load more</a>
            </div>
        </div>

        <!-- End .container -->
    </div>
    <!-- End Shop Area  -->
</main>




{% endblock content %}


{% block scripts %}
<!-- Link to jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Your product list and button code -->

<script>
$(document).ready(function() {
    var clickedProducts = []; // Array to store clicked product IDs

      // Populate clickedProducts array with product IDs from Django loop
    {% for a in cart_items %}
      clickedProducts.push('{{ a.product.id }}');
    {% endfor %}

    $('.add-to-cart-btn').click(function() {
        var productID = $(this).data('product-id');
        
        if (!clickedProducts.includes(productID)) {
            // Product hasn't been added yet, increment the cart number and add the product ID to the array
            updateCartNumber();
            clickedProducts.push(productID);
            
        }else{
            shakeCartNumber()
        }
        
    });

    function updateCartNumber() {
        
   

        var cartNumberElement = $('#cart-count');
        var currentCount = parseInt(cartNumberElement.text()) || 0;
        cartNumberElement.text(currentCount + 1);

        // Add shake class to trigger the animation
        cartNumberElement.addClass('shake');

        // Remove the shake class after the animation completes
        setTimeout(function() {
            cartNumberElement.removeClass('shake');
        }, 2000); // Adjust the time to match your animation duration
    }

    function shakeCartNumber() {
        var cartNumberElement = $('#cart-count');
        cartNumberElement.addClass('shake');

        // Remove the shake class after the animation completes
        setTimeout(function() {
            cartNumberElement.removeClass('shake');
        }, 1000); // Adjust the time to match your animation duration
    }
});
</script>

<style>
.cart-number {
    /* Your cart number styles */
}

.shake {
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
}
</style>

{% endblock scripts %}