{% extends 'shop/base.html' %}
{% load static %}
{% block title %}<title>Sanitary || Shop</title>{% endblock title %}
{% block view_modal %}
   <!-- Product Quick View Modal Start -->
   <div class="modal fade quick-view-product" id="quick-view-modal-{{forloop.counter}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="far fa-times"></i></button>
            </div>
            <div class="modal-body">

                <div class="single-product-thumb">
                    <div class="row">
                        <div class="col-lg-7 mb--40">
                            <div class="row">
                                <div class="col-lg-10 order-lg-2">
                                    <div class="single-product-thumbnail  axil-product thumbnail-badge zoom-gallery">
                                        <div class="thumbnail">
                                            <img src="{{ i.image.url }}" alt="Product Images">
                                            <div class="label-block label-right">
                                                <div class="product-badget">{{i.discount_price}}</div>
                                            </div>
                                            <div class="product-quick-view position-view">
                                                <a href="{{i.image.url}}" class="popup-zoom">
                                                    <i class="far fa-search-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 mb--40">
                            <div class="single-product-content">
                                <div class="inner">
                              
                                    <h3 class="product-title">{{i.name}}</h3>
                                    <span class="price-amount">{{i.new_price}}</span>
                                    <ul class="product-meta">
                                        <li><i class="fal fa-check"></i>COMPANY: {{i.category.name}}</li>
                                        <li><i class="fal fa-check"></i>CATEGORY: {{i.company_name.name}}</li>
                                        <li><i class="fal fa-check"></i>{{i.imported_or_local}}</li>
                                        <li><i class="fal fa-check"></i>PRODUCT NUMBER: {{i.product_number}}</li>
                                        <li><i class="fal fa-check"></i>TYPE: {{i.type|title}}</li>
                                        <li><i class="fal fa-check"></i>SIZE: {{i.size}}</li>
                                        {% if i.accessories_name %}
                                            <li><i class="fal fa-check"></i>Accessories Type: {{i.accessories_name}}</li>
                                        {% endif %}
                                        {% if i.set_type %}
                                            <li><i class="fal fa-check"></i>SET TYPE: {{i.set_type|title}}</li>
                                        {% endif %}
                                        <li><i class="fal fa-check"></i>FINSHING: {{i.finshing}}</li>
                                        <li><i class="fal fa-check"></i>STYLE: {{i.style}}</li>

                                    </ul>
                                    <li class="text-primary description">DESCRIPTION:<br>{{i.description}}</li>


                                    <!-- Start Product Action Wrapper  -->
                                    <div class="product-action-wrapper d-flex-center">
                                        <!-- Start Quentity Action  -->
                                        <div class="pro-qty"><input type="text" value="1"></div>
                                        <!-- End Quentity Action  -->

                                        <!-- Start Product Action  -->
                                        <ul class="product-action d-flex-center mb--0">
                                            <li class="add-to-cart"><a href="#" class="axil-btn btn-bg-primary">Add to Cart</a></li>
                                        </ul>
                                        <!-- End Product Action  -->

                                    </div>
                                    <!-- End Product Action Wrapper  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Quick View Modal End -->

    {% endblock view_modal %}