{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">


  <title>360-Shop</title>

</head>
<body>
    <div class="mt-1 container-fluid">
        <div class="heading_360">
          <span class="heading__title sp text-uppercase">{{showroom_data.showroom_name}} (360°)</span>
          <div>
            <button data-label="Register" class="rainbow-hover" data-bs-toggle="modal" data-bs-target="#callbackmodal">
                <span class="sp">Call Back</span>
              </button>
               <a
               {% if request.user.is_authenticated %}
               href="{% url 'shop' showroom_data.showroom_type showroom_data.id  %}"
               {% else %}
               data-bs-toggle="modal" data-bs-target="#loginmodal"
               {% endif %}
               class=" btn_360">
                Shop Now
             </a>
             
              
          </div>
        </div>
    
        <hr>
        <iframe id="myIframe" class="w-100" src="{{showroom_data.link_360}}" title="">
        </iframe>
          <hr>

    </div>



<!-- signin Modal -->
<div class="modal fade" id="loginmodal" tabindex="-1" aria-labelledby="loginmodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-body">
        <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="myform bg-dark">
          <h1 class="text-center">Login</h1>
          <form class="p-2" autocomplete="off" method="POST">
            {% csrf_token %}
            <div class="mb-3 mt-4">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn border border-light btn-dark w-100 mt-3 mb-3">LOGIN</button>
            <p data-bs-toggle="modal" data-bs-target="#signupmodal" class="" style="cursor: pointer;">Not a member? <a
                class="text-primary">Signup now</a></p>
            <p  class="" style="cursor: pointer;">Showroom Owner? <a href="{% url 'shop_dashboard_signin' %}"
                class="text-primary">Login</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- signup Modal -->
<div class="modal fade" id="signupmodal" tabindex="-1" aria-labelledby="signupmodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-body">
        <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="myform bg-dark">

          <h1 class="text-center">Signup</h1>
          <form class="p-2" action="signup" method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="mb-3 mt-4">
              <label for="exampleInputEmail1" class="form-label">First Name</label>
              <input type="text" class="form-control" name="first_name" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 mt-4">
              <label for="exampleInputEmail1" class="form-label">Last Name</label>
              <input type="text" class="form-control" name="last_name" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 mt-4">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" name="email" type="text" hx-post="{% url 'check_email' %}"
                hx-target="#username-check" hx-trigger="keyup">
              <div id="username-check"></div>
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn border border-light btn-dark w-100 mt-3 mb-3">SIGNUP</button>
            <p data-bs-toggle="modal" data-bs-target="#loginmodal" class="" style="cursor: pointer;">Already have
              account? <a class="text-primary">Signin now</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

    <!--call back Modal -->
<div class="modal fade" id="callbackmodal" tabindex="-1" aria-labelledby="callbackmodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="callbackmodalLabel">Call Back:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="callbackdiv">
        <form autocomplete="off" class="row g-3" method="POST" hx-post="{% url 'callback' %}" _="on submit toggle @disabled on <button /> until htmx:afterOnLoad">
          {% csrf_token %}
          <input type="text" name="showroom" value="{{showroom_data.id}}" class="form-control"  hidden>
          <div class="col-md-6">
            <label class="form-label">Your name:</label>
            <input type="text" name="name" class="form-control"   required>
          </div>
          <div class="col-md-6">
            <label  class="form-label">Email:</label>
            <div class="input-group">
              <span class="input-group-text" >@</span>
              <input type="email" name="email" class="form-control"   required>
            </div>
          </div>
          <div class="col-md-6">
            <label  class="form-label">Phone Number:</label>
            <div class="input-group">
              <span class="input-group-text" >+92</span>
              <input type="number"  name="number" class="form-control"   required>
            </div>
          </div>
          <div class="col-md-6">
            <label  class="form-label">Reason Of call:</label>
            <div class="input-group">
              <span class="input-group-text" >?</span>
              <input type="text" name="reason" class="form-control"   required>
            </div>
          </div>
          <div class="col-md-12">
            <label  class="form-label">Best Time For Call:</label>
            <input type="time" name="time" class="form-control" required>
          </div>
          <div class="col-12">
            <button  class="btn btn-primary float-end w-100" type="submit">Submit form</button>
          </div>
        </form>
      </div>
     
    </div>
  </div>
</div>

  
  <script src="{% static 'js/bootstrap.js' %}"></script>
    {% include 'messages.html' %}
    <script src="{% static 'js/htmx.js' %}"></script>

    <script>




      window.addEventListener("message", function(event) {
        if (event.source === document.getElementById("myIframe").contentWindow) {
          var currentNodeID = event.data;
          yourFunction(currentNodeID);
        }
      });
     
  
      function yourFunction(currentNodeID) {
        // Your code to handle the updated currentNodeID
        console.log("Handling the updated currentNodeID: " + currentNodeID);
        var userID = "{{ request.user.id }}";
        var showroomID = "{{ showroom_data.id }}";
        
        
         // Set the values and submit the form
        var form = document.getElementById("nodeForm");
        form.querySelector("input[name='currentNodeID']").value = currentNodeID;
        form.querySelector("input[name='userID']").value = userID;
        form.querySelector("input[name='showroomID']").value = showroomID;
        
        // Prevent the default form submission
        event.preventDefault();
        // Make the HTMX request
        htmx.trigger(form, 'submit');



      }
    </script>


    <!-- Add a hidden form with HTMX trigger -->
      <form id="nodeForm" hx-post="{% url 'node_visitor' %}" style="display: none;">\
        {% csrf_token %}
        <input type="hidden" name="currentNodeID" >
        <input type="hidden" name="userID" >
        <input type="hidden" name="showroomID" >
      </form>


</body>

</html>